<!-- Dark footer -->
<footer id="dark-footer" class="footer footer-dark">
    <div class="container">
        <div class="columns">
            <!-- <div class="column">
                <div class="footer-column">
                    <div class="footer-header">
                        <h3>Learning</h3>
                    </div>
                    <ul class="link-list">
                        <li><a href="#">Resources</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">API documentation</a></li>
                        <li><a href="#">Admin guide</a></li>
                    </ul>
                </div>
            </div> -->
            <div class="column">
                <div class="footer-column">
                    <div class="footer-logo">
                        <img src="assets/img/logos/logo/numia-transparent.png" alt="">
                    </div>
                    <div class="copyright">
                        <span class="moto light-text">Follow for our latest updates</span>
                    </div>
                    <div class="footer-header">
                        <nav class="level is-mobile">
                            <div class="level-left level-social">
                                <a href="https://twitter.com/NumiaData/" target="_blank" class="level-item">
                                    <span class="icon" style="color:#1DA1F2"><i class="fa fa-twitter"></i></span>
                                </a>
                                
                                <!-- <a href="#" class="level-item">
                                    <span class="icon"><i class="fa fa-linkedin"></i></span>
                                </a>
                                <a href="#" class="level-item">
                                    <span class="icon"><i class="fa fa-dribbble"></i></span>
                                </a> -->
                                <!-- <a href="#" class="level-item">
                                    <span class="icon"><i class="fa fa-github"></i></span>
                                </a> -->
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="footer-column">
                    <div class="footer-header">
                        <h3>Resources</h3>
                    </div>
                    <ul class="link-list">
                        <li><a href="https://docs.numia.xyz/">Docs</a></li>
                        <!-- <li><a href="#">Blog</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">API documentation</a></li>
                        <li><a href="#">Admin guide</a></li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- /Dark footer -->